<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>British School | Sick Bay - Log In</title>
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <style media="screen">
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="text-center">
          <img src="/images/logo_british_login.png" width="34%" height="17%">
        </div>
        <h2 class="text-center margin-t-0">
          {{{i18n 'systemName'}}}
          <a href="/en?redirectUrl={{redirectUrl}}"><img src="/images/british.png" style="height:20px;"></a>
          <a href="/pt-BR?redirectUrl={{redirectUrl}}"><img src="/images/brazil.png" style="height:22px;"></a>
        </h2>
        <div class="row text-center">
          {{#if msg}}
            <div id="login-alert" class="alert {{alertClass}} alert-dismissible col-xs-12" role="alert" bee>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{this.msg}}
            </div>
          {{/if}}

          {{#if flashMsg}}
            <div class="row">
              <div class="alert {{flashMsg.styleMsg}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{flashMsg.strongMsg}} {{flashMsg.txtMsg}}
              </div>
            </div>
          {{/if}}

          <form id="loginForm" class="navbar-form margin-b-0" action="/login" method="post">
            <div class="form-group">
              <input type="number" class="form-control" id="enrollment" name="enrollment" placeholder="{{{i18n 'enrollment'}}}" required autofocus onkeypress="return isNumberKey(event);">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="{{{i18n 'password'}}}" required>
            </div>
            <input type="submit" class="btn btn-success" value="{{{i18n 'login'}}}">
          </form>
        </div>
        <div class="row text-center">
          <div style="margin-left:190px;">
            <span style="font-size:12px;text-decoration:underline;cursor:pointer;" data-toggle="modal" data-target="#myModal" onclick="focusModal();">
              {{{i18n 'forgotPass'}}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{{i18n 'forgotPass?'}}}</h4>
          </div>
          <div class="modal-body">
            <form action="/email-forget-password" method="post">
              <input autofocus type="text" name="enrollmentToReset" id="enrollmentToReset" placeholder="{{{i18n 'enrollment'}}}" class="form-control">
              <div class="text-right" style="margin-top:10px;">
                <input type="submit" class="btn btn-primary" value="{{{i18n 'send'}}}">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function focusModal(){
        setTimeout(function (){
          $('#enrollmentToReset').focus();
        }, 100);
      }

      function isNumberKey(event) {
        var charCode = (event.which) ? event.which : event.keyCode
        return !(charCode > 31 && (charCode < 48 || charCode > 57));
      }
    </script>
  </body>
</html>
