{{#section 'head'}}
  <style media="screen">
    .styleTableICT th{
      background-color: #2A3F54;
      color: white;
      border: 1px solid white;
      text-align: center;
    }
    .styleTableICT{
      margin-bottom: 0px;
    }

  </style>
{{/section}}

<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'new'}}}</div>
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-sm-4">
          <label style="padding-left: 0px;" class="checkbox-inline"><input style="margin-right:5px;" type="radio" name="PatienteType" value="Student" checked>{{{i18n 'student'}}}</label>
          <label class="checkbox-inline"><input style="margin-right:5px;" type="radio" name="PatienteType" value="Employer">{{{i18n 'employer'}}}</label>
          <label class="checkbox-inline"><input style="margin-right:5px;" type="radio" name="PatienteType" value="Other">{{{i18n 'other'}}}</label>
        </div>
        <div class="col-sm-8 text-right">
          {{#each AttendanceType}}
            <label class="checkbox-inline"><input style="margin-right:5px;" type="radio" name="SickBayAttendanceType_ID" value="{{SickBayAttendanceTypeID}}">{{{i18n Name}}}</label>
          {{/each}}
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-8">
          <div class="groupPatient groupStudent">
            <select class="form-control" name="Patient" id="Student" style="width:100%;">
              <option value="">{{{i18n 'student'}}}:</option>
              {{#each SchoolStudent}}
                <option value="{{Matricula}}" data-nome="{{Nome}}" data-alergia="{{Alergia}}" data-class="{{Turma}}" data-year-group="{{Serie}}" data-unit="{{Filial}}">{{Nome}} - {{Matricula}} - {{Turma}}</option>
              {{/each}}
            </select>
          </div>
          <div class="groupPatient groupEmployer" style="display:none;">
            <select class="form-control" name="Patient" id="Employer" style="width:100%;">
              <option value="">{{{i18n 'employer'}}}:</option>
              {{#each Employer}}
                <option value="{{matricula}}" data-nome="{{nomeusuario}}">{{nomeusuario}} - {{matricula}}</option>
              {{/each}}
            </select>
          </div>
          <div class="groupPatient groupOther" style="display:none;">
            <input type="text" name="Patient" value="" class="form-control" placeholder=" Nome:">
          </div>
        </div>
        <div class="col-sm-4">
          <input type="datetime-local" name="HourAttendance" value="" class="form-control">
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
          <table class="table styleTableICT">
            <thead>
              <tr>
                <th>{{i18n 'medication'}}</th>
                <th>{{i18n 'unitofmeasure'}}</th>
                <th>{{i18n 'amount'}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select class="standartSelect2" name="Remedy" style="width:100%;">
                    <option value="">{{i18n 'medication'}}</option>
                    {{#each Remedy}}
                      <option value="{{SickBayRemedyID}}">{{Name}}</option>
                    {{/each}}
                  </select>
                </td>
                <td>
                  <select class="standartSelect2" name="UnitMeasure" style="width:100%">
                    <option value="">{{i18n 'unitofmeasure'}}</option>
                    {{#each UnitOfMeasure}}
                      <option value="{{SickBayRemedyID}}">{{Name}}</option>
                    {{/each}}
                  </select>
                </td>
                <td>
                  <input type="number" name="" value="" class="form-control" style="height: 38px;">
                </td>
                <td class="text-center">
                  <i class="fa fa-plus-circle" aria-hidden="true" style="font-size:30px;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="row" style="margin-top:5px;">
        <div class="col-sm-12">
          <select name="Remedy" id="Remedy" style="width:100%;" multiple>
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
          </select>
        </div>
      </div> -->

      <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
          <textarea name="Reason" class="form-control" placeholder="Reason"></textarea>
        </div>
      </div>

      <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
          <textarea name="Procedure" class="form-control" placeholder="Procedure"></textarea>
        </div>
      </div>

      <!-- <div class="row" style="margin-top:5px;">
        <div class="col-sm-12">
          <textarea name="AmountRemedy" class="form-control" placeholder="Amount Remedy"></textarea>
        </div>
      </div> -->
      <div class="text-center row" style="margin-top:10px;">
        <input type="submit" name="" value="Save" class="btn btn-success">
      </div>
    </form>
  </div>
</div>


{{#section 'script'}}
  <script type="text/javascript">
    $("#Student").select2()
    $("#Employer").select2()
    $('.standartSelect2').select2()

    $('input[name=PatienteType]').change(function(e){
      $('.groupPatient').css('display','none')
      if('Student' === this.value){
        $('.groupStudent').css('display','block')
      }else if('Employer' === this.value){
        $('.groupEmployer').css('display','block')
      }else if('Other' === this.value){
        $('.groupOther').css('display','block')
      }
    })



  </script>
{{/section}}
