{{#if flashMsg}}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert {{flashMsg.styleMsg}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{flashMsg.strongMsg}}</strong> {{flashMsg.txtMsg}}
      </div>
    </div>
  </div>
{{/if}}

<div class="panel panel-primary">
  <div class="panel-heading">{{{i18n 'report'}}}</div>
  <div class="panel-body">
    <form id="formReport" action="/report/generate" method="post" target="_blank">
      <div class="row">
        <div class="col-sm-4">
          <label>{{i18n 'sickBay'}}</label>
          <select id="SickbayArea" name="SickbayArea" class="form-control">
            <option value="">{{i18n 'all'}}</option>
            {{#each SickArea}}
              <option data-name="{{Name}}" value="{{SickBayAreaID}}">{{Name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-4">
          <label>{{i18n 'initialDate'}}</label>
          <input type="date" name="StartDate" id="StartDate" value="{{firstDayMonth}}" class="form-control" onkeyup="updateMinToDateField(this);" required>
        </div>
        <div class="col-sm-4">
          <label>{{i18n 'finalDate'}}</label>
          <input type="date" name="EndDate" id="EndDate" value="{{lastDayMonth}}" min="{{firstDayMonth}}" class="form-control" required>
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
          <input type="submit" value="{{i18n 'generateReport'}}" class="btn btn-warning">
        </div>
      </div>
    </form>
  </div>
</div>


{{#section 'script'}}
  <script type="text/javascript">
    function updateMinToDateField(el){
      $('#EndDate').attr('min', moment($(el).val()).format('YYYY-MM-DD'))
    }
  </script>
{{/section}}
