<div class="panel panel-primary">
  <div class="panel-heading">{{i18n 'generalInformation'}} - {{i18n 'attendance'}} {{attendance.SickBayAttendanceID}}</div>
  <div class="panel-body">
    <div class="row" style="margin-bottom:10px;">
      <div class="col-sm-1">
        <a href="/attendance">
          <button style="margin:0px;" type="button" name="button" class="btn btn-primary">{{i18n 'back'}}</button>
        </a>
      </div>
    </div>
    <table class="table">
      <tr>
        <td style="width:15%;">{{i18n 'typePatient'}}</td>
        <td style="width:35%;">{{i18n attendance.PatientType}}</td>
        <td style="width:15%;">{{i18n 'patient'}}</td>
        <td style="width:35%;">{{toTitleCase attendance.PatientName}} - {{attendance.Patient_Matricula}}</td>
      </tr>
      <tr>
        <td style="width:15%;">{{i18n 'class'}}</td>
        <td style="width:35%;">{{attendance.Class}}</td>
        <td style="width:15%;">{{i18n 'yearGroup'}}</td>
        <td style="width:35%;">{{attendance.YearGroup}}</td>
      </tr>
      <tr>
        <td style="width:15%;">{{i18n 'typeAttendance'}}</td>
        <td style="width:35%;">{{i18n attendance.SickBayAttendanceType.Name}}</td>
        <td style="width:15%;">{{i18n 'schedule'}}</td>
        <td style="width:35%;">{{attendance.Schedule}}</td>
      </tr>
      <tr>
        <td style="width:15%;">{{i18n 'nurse'}}</td>
        <td style="width:35%;">{{toTitleCase attendance.usuario.nomeusuario}}</td>
        <td style="width:15%;">{{i18n 'sickBay'}}</td>
        <td style="width:35%;">{{attendance.SickBayArea.Name}}</td> <!-- nome da enfermaria -->
      </tr>
      <tr>
        <td style="width:15%;">{{i18n 'reason'}}</td>
        <td style="width:35%;">{{attendance.Reason}}</td>
        <td style="width:15%;">{{i18n 'procedure'}}</td>
        <td style="width:35%;">{{attendance.Procedure}}</td>
      </tr>
      <tr>
        <td style="width:100%;" colspan="4"></td>
      </tr>
    </table>

    <table class="table styleTableICT">
      <thead>
        <tr>
          <th colspan="3">{{i18n 'medication'}}</th>
        </tr>
        <tr>
          <th>{{i18n 'name'}}</th>
          <th>{{i18n 'unitofmeasure'}}</th>
          <th>{{i18n 'amount'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each attendance.SickBayAttendanceMedications}}
          <tr>
            <td>{{SickBayRemedy.Name}}</td>
            <td>{{UnitOfMeasure.Name}}</td>
            <td class="text-center">{{Amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <table class="table styleTableICT" style="margin-top:10px;" data-sick-bay-attendance-id="{{attendance.SickBayAttendanceID}}" id="attendanceReturn">
      <thead>
        <tr>
          <th colspan="3">{{i18n 'return'}}</th>
        </tr>
        <tr>
          <th>{{i18n 'schedule'}}</th>
          <th>{{i18n 'nurse'}}</th>
          <th>{{i18n 'reason'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each attendance.SickBayReturnAttendances}}
          <tr>
            <td>{{Schedule}}</td>
            <td>{{toTitleCase usuario.nomeusuario}}</td>
            <td>{{ReturnReason}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <textarea name="ReturnReason" class="form-control" placeholder=" {{i18n 'reason'}}"></textarea>
          <td>
            <button onclick="addRetorno(this)" style="margin-top:7px;" class="btn btn-success btn-xs" type="button" name="button">{{i18n 'addReturn'}}</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

{{#section 'script'}}
  <script type="text/javascript">
    let listValidations = {}
    loadListValidations()

    function addRetorno(el){
      if($(el).closest('table').find('[name=ReturnReason]').val().trim() !== '') {
        let dataSend = {
          SickBayAttendance_ID: $(el).closest('table').data('sick-bay-attendance-id'),
          ReturnReason: $(el).closest('table').find('[name=ReturnReason]').val()
        }
        $.ajax({
          url: '/attendance/save-return',
          type: 'POST',
          data: dataSend,
          dataType:'json',
          success: function(data){
            $('#attendanceReturn tbody').append('<tr><td>'+data.Schedule+'</td><td>'+data.Nurse+'</td><td>'+data.ReturnReason+'</td></tr>')
          }
        })
      } else {
        swal({
          title: "",
          text: listValidations.emptyReturnReason,
          type: "error"
        })
      }
    }
  </script>
{{/section}}
