<div class="panel panel-primary">
  <div class="panel-heading"> Informações Completas</div>
  <div class="panel-body">
    <div class="row" style="margin-bottom:10px;">
      <div class="col-sm-1">
        <a href="/attendance">
          <button style="margin:0px;" type="button" name="button" class="btn btn-primary">Voltar</button>
        </a>
      </div>
    </div>
    <table class="table">
      <tr>
        <td style="width:15%;">typePatient</td>
        <td style="width:35%;">{{i18n attendance.PatientType}}</td>
        <td style="width:15%;">namePatient</td>
        <td style="width:35%;">{{attendance.PatientName}} - {{attendance.Patient_Matricula}}</td>
      </tr>
      <tr>
        <td style="width:15%;">class</td>
        <td style="width:35%;">{{attendance.Class}}</td>
        <td style="width:15%;">yearGroup</td>
        <td style="width:35%;">{{attendance.YearGroup}}</td>
      </tr>
      <tr>
        <td style="width:15%;">typeAttendance</td>
        <td style="width:35%;">{{i18n attendance.SickBayAttendanceType.Name}}</td>
        <td style="width:15%;">schedule</td>
        <td style="width:35%;">{{attendance.Schedule}}</td>
      </tr>
      <tr>
        <td style="width:15%;">matriculaNursery</td>
        <td style="width:35%;">{{toTitleCase attendance.usuario.nomeusuario}}</td>
        <td style="width:15%;">sickbay</td>
        <td style="width:35%;">{{attendance.SickBayArea.Name}}</td> <!-- nome da enfermaria -->
      </tr>
      <tr>
        <td style="width:15%;">reason</td>
        <td style="width:35%;">{{attendance.Reason}}</td>
        <td style="width:15%;">procedure</td>
        <td style="width:35%;">{{attendance.Procedure}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <table class="table styleTableICT">
      <thead>
        <tr>
          <th colspan="3">medication</th>
        </tr>
        <tr>
          <th>name</th>
          <th>UnitOfMeasure </th>
          <th>amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each attendance.SickBayAttendanceMedications}}
          <tr>
            <td>{{SickBayRemedy.Name}}</td>
            <td>{{UnitOfMeasure.Name}}</td>
            <td class="text-center">{{Amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <table class="table styleTableICT" style="margin-top:10px;" data-sick-bay-attendance-id="{{attendance.SickBayAttendanceID}}" id="attendanceReturn">
      <thead>
        <tr>
          <th colspan="3">Retorno</th>
        </tr>
      </thead>
      <tbody>
        {{#each retorno}}
          <tr>
            <td>{{Schedule}}</td>
            <td>{{Nurse}}</td>
            <td>{{ReturnReason}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <textarea name="ReturnReason" class="form-control"></textarea>
          <td>
            <button onclick="addRetorno(this)" style="margin-top:7px;" class="btn btn-success btn-xs" type="button" name="button">Adicionar Retorno</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

{{#section 'script'}}
  <script type="text/javascript">
    function addRetorno(el){

      let dataSend = {
        SickBayAttendance_ID: $(el).closest('table').data('sick-bay-attendance-id'),
        ReturnReason: $(el).closest('table').find('[name=ReturnReason]').val()
      }
      $.ajax({
        url: '/attendance/save-return',
        type: 'POST',
        data: dataSend,
        dataType:'json',
        success: function(data){
          $('#attendanceReturn tbody').append('<tr><td>'+data.Schedule+'</td><td>'+data.Nurse+'</td><td>'+data.ReturnReason+'</td></tr>')
        }
      })
    }
  </script>
{{/section}}
