{{#if flashMsg}}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert {{flashMsg.styleMsg}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{i18n 'profile'}}</strong> {{flashMsg.txtMsg}}
      </div>
    </div>
  </div>
{{/if}}

<div class="row margin-b-10">
  <div class="col-xs-12 panelPadraoDefault">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center font-bold">{{{i18n 'listProfile'}}}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="tableProfiles" class="dataTable table table-bordered table-hover table-condensed nowrap" cellspacing="0" width="100%">
            <thead>
              <tr style="background-color:#337AB7; color:#FFF;">
                <th>{{{i18n 'profile'}}}</th>
                <th>{{{i18n 'allUnits'}}}</th>
                <th class="text-center">{{{i18n 'edit'}}}</th>
              </tr>
            </thead>
            <tbody style="color:#337AB7;">
              {{#each profiles}}
                <tr>
                  <td>{{nomeperfilacesso}}</td>
                  <td>{{{formatBoolean all_units}}}</td>
                  <td class="text-center">
                    <a href="#" onclick="editModal({{idperfilsistema}})"><i class="fa fa-pencil"></i></a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- editModal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editModalLabel">{{{i18n 'edit'}}} {{{i18n 'profile'}}}</h4>
      </div>
      <div class="modal-body">
        <form id="formEditProfile" action="/configuration/profile/update" method="post">
          <div class="row">
            <div class="col-xs-12">
              <span class="font-bold">{{{i18n 'nameProfile'}}}</span>
              <input class="form-control" id="idProfile" name="idProfile" type="hidden" required>
              <input class="form-control" id="nameProfile" name="nameProfile" type="text" required>
            </div>
          </div>
          <div class="row" style="margin-top:15px">
            <div class="col-xs-12">
              <span class="font-bold">{{{i18n 'allUnits'}}}:</span>
              <input type="radio" name="allUnits" id="allUnits" value="1" style="margin-left:5px;"> {{{i18n 'yes'}}}
              <input type="radio" name="allUnits" id="allUnits" value="0" style="margin-left:5px;"> {{{i18n 'no'}}}
            </div>
          </div>
          <div class="row" style="margin-top:15px">
            <div class="col-xs-12">
              <span class="font-bold">{{{i18n 'functionalities'}}}</span>
              {{#each functionalities}}
                <div class="col-xs-12 father">
                  <input type="checkbox" id="functionalityID" name="functionalityID" value="{{FunctionalityID}}" onchange="checkFunctionalities(this)"> <span style="color:#2E5175">{{{i18n Name}}}</span>
                  {{#each Functionalities}}
                    <div class="col-xs-12 son">
                      <input type="checkbox" id="functionalityID" name="functionalityID" value="{{FunctionalityID}}" onchange="checkFunctionality({{../FunctionalityID}})"> {{{i18n Name}}}
                    </div>
                  {{/each}}
                </div>
              {{/each}}
            </div>
          </div>
          <div class="row text-center" style="margin-top:15px">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-success">{{{i18n 'save'}}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{#section 'script'}}
  <script src="/javascripts/configuration/profile/list.js"></script>
{{/section}}
