{{#if flashMsg}}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert {{flashMsg.styleMsg}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{flashMsg.strongMsg}}</strong> {{flashMsg.txtMsg}}
      </div>
    </div>
  </div>
{{/if}}

<div class="panel panel-primary">
  <div class="panel-heading">{{i18n 'list'}} {{i18n 'medicationControlled'}}</div>
  <div class="panel-body">
    <div class="row" style="margin-bottom:10px;">
      <div class="col-sm-12 toolbar">
        <a href="/medication-controlled/new">
          <button type="button" name="button" class="btn btn-primary">{{i18n 'new'}}</button>
        </a>
        <button type="button" name="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">{{i18n 'filter'}}</button>
        <a class="not-load" href="/medication-controlled/export-pdf" target="_blank">
          <button type="button" name="button" class="btn btn-danger">Export PDF</button>
        </a>
      </div>
    </div>
    <table class="table table-hover table-striped styleTableICT">
      <thead>
        <tr>
          <th>Nº</th>
          <th>{{i18n 'student'}}</th>
          <th>{{i18n 'initialDate'}}</th>
          <th>{{i18n 'finalDate'}}</th>
          <th>{{i18n 'schedule'}} 1</th>
          <th>{{i18n 'schedule'}} 2</th>
          <th>{{i18n 'schedule'}} 3</th>
          <th>{{i18n 'schedule'}} 4</th>
          <th>{{i18n 'responsibleMedication'}}</th>
          <th>{{i18n 'medAndObs'}}</th>
          <th>{{i18n 'type'}}</th>
          <th>{{i18n 'detailing'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each medCtrl}}
          <tr data-medication-controlled-id="{{SickBayMedicationControlledID}}">
            <td class="text-center">{{SickBayMedicationControlledID}}</td>
            <td>{{SchoolStudent.Matricula}} - {{SchoolStudent.Nome}}</td>
            <td>{{StartFormated}}</td>
            <td>{{EndFormated}}</td>
            <td>{{Hr1}}</td>
            <td>{{Hr2}}</td>
            <td>{{Hr3}}</td>
            <td>{{Hr4}}</td>
            <td>{{toTitleCase Responsible}}</td>
            <td>{{Note}}</td>
            <td>{{Type}}</td>
            <td class="text-center">
              <i class="fa fa-medkit" aria-hidden="true" onclick="moreInfo(this);"></i>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{i18n 'filter'}} {{i18n 'medicationControlled'}}</h4>
      </div>
      <div class="modal-body">
        <form action="/medication-controlled" method="post">
          <div class="row">
            <div class="col-sm-4">
              <label for="">{{i18n 'student'}} - {{i18n 'enrollment'}}</label>
              <input type="number" name="studentMatricula" class="form-control">
            </div>
            <div class="col-sm-8">
              <label for="">{{i18n 'student'}} - {{i18n 'name'}}</label>
              <input type="text" name="studentName" class="form-control">
            </div>
          </div>
          <div class="row" style="margin-top:5px;">
            <div class="col-sm-6">
              <label for="">{{i18n 'initialDate'}}</label>
              <input type="date" name="initialDate" class="form-control" required>
            </div>
            <div class="col-sm-6">
              <label for="">{{i18n 'finalDate'}}</label>
              <input type="date" name="finalDate" class="form-control" required>
            </div>
          </div>
          <div class="row text-right" style="margin-top:10px;">
            <div class="col-sm-12">
              <input type="submit" value="{{i18n 'search'}}" class="btn btn-success btn-xs">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{{#section 'script'}}
  <script type="text/javascript">
    function moreInfo(el){
      let form = document.createElement("form")
      form.method = "POST"
      form.action = "/medication-controlled/more-info"
      var campo1 = document.createElement("input")
      campo1.name= 'MedicationControlledID'
      campo1.value= $(el).closest('tr').data('medication-controlled-id')
      form.appendChild(campo1)
      document.body.appendChild(form)
      form.submit()
    }
  </script>
{{/section}}
