<div class="panel panel-primary">
  <div class="panel-heading">{{i18n 'generalInformation'}} - {{i18n 'medicationControlled'}} {{medCtrl.SickBayMedicationControlledID}}</div>
  <div class="panel-body">
    <div class="row" style="margin-bottom:10px;">
      <div class="col-sm-1">
        <a href="/medication-controlled">
          <button style="margin:0px;" type="button" name="button" class="btn btn-primary">Voltar</button>
        </a>
      </div>
    </div>
    <table class="table">
      <tr>
        <td style="width:15%;">{{i18n 'student'}}</td>
        <td style="width:35%;">{{medCtrl.SchoolStudent.Nome}}</td>
        <td style="width:15%;">{{i18n 'enrollment'}}</td>
        <td style="width:35%;">{{medCtrl.SchoolStudent.Matricula}}</td>
      </tr>
      <tr>
        <td style="width:15%;">{{i18n 'class'}}</td>
        <td style="width:35%;">{{medCtrl.SchoolStudent.Turma}}</td>
        <td style="width:15%;">{{i18n 'yearGroup'}}</td>
        <td style="width:35%;">{{medCtrl.SchoolStudent.Serie}}</td>
      </tr>
      <tr>
        <td style="width:15%;">{{i18n 'doctorName'}}</td>
        <td style="width:35%;">{{medCtrl.DoctorName}}</td>
        <td style="width:15%;">{{i18n 'doctorContact'}}</td>
        <td style="width:35%;">{{medCtrl.DoctorContact}}</td>
      </tr>
      <tr>
        <td style="width:15%;">{{i18n 'responsibleMedication'}}</td>
        <td style="width:35%;">{{toTitleCase medCtrl.Responsible}}</td>
        <td style="width:15%;">{{i18n 'medAndObs'}}</td>
        <td style="width:35%;">{{medCtrl.Note}}</td>
      </tr>
      <tr>
        <td style="width:15%;">{{i18n 'allergy'}}</td>
        <td style="width:85%;" colspan="3">{{medCtrl.SchoolStudent.Alergia}}</td>
      </tr>
      <tr>
        <td style="width:100%;" colspan="4"></td>
      </tr>
    </table>

    <table class="table table-hover table-striped table-bordered styleTableICT" style="margin-top:10px;" data-medication-controlled-id="{{medCtrl.SickBayMedicationControlledID}}">
      <thead>
        <tr>
          <th>{{i18n 'date'}}</th>
          <th>{{i18n 'schedule'}} 1</th>
          <th>{{i18n 'schedule'}} 2</th>
          <th>{{i18n 'schedule'}} 3</th>
          <th>{{i18n 'schedule'}} 4</th>
        </tr>
      </thead>
      <tbody>
        {{#each medCtrl.SickBayMedicationSchedules}}
        <tr data-sick-bay-medication-schedule-id="{{SickBayMedicationScheduleID}}">
          <td class="text-center">{{MedicationDateFormated}}</td>
          {{#if Ch1}}
            <td class="text-center" style="color:blue;" data-toggle="tooltip" data-container="body" title="{{Matricula1}} - {{ChdHr1}}">{{Hr1}}</td>
          {{else}}
            {{#if Hr1}}
              <td data-hr="Hr1" class="text-center marcarMedicacao" style="color:red;" data-toggle="tooltip" data-container="body" title="{{i18n 'messages.effectMedication'}}">{{Hr1}}</td>
            {{/if}}
          {{/if}}
          {{#if Ch2}}
            <td class="text-center" style="color:blue;" data-toggle="tooltip" data-container="body" title="{{ChdHr2}} - {{Matricula2}}">{{Hr2}}</td>
          {{else}}
            {{#if Hr2}}
              <td data-hr="Hr2" class="text-center marcarMedicacao" style="color:red;" data-toggle="tooltip" data-container="body" title="{{i18n 'messages.effectMedication'}}">{{Hr2}}</td>
            {{/if}}
          {{/if}}
          {{#if Ch3}}
            <td class="text-center" style="color:blue;" data-toggle="tooltip" data-container="body" title="{{ChdHr3}} - {{Matricula3}}">{{Hr3}}</td>
          {{else}}
            {{#if Hr3}}
              <td data-hr="Hr3" class="text-center marcarMedicacao" style="color:red;" data-toggle="tooltip" data-container="body" title="{{i18n 'messages.effectMedication'}}">{{Hr3}}</td>
            {{/if}}
          {{/if}}
          {{#if Ch4}}
            <td class="text-center" style="color:blue;" data-toggle="tooltip" data-container="body" title="{{ChdHr4}} - {{Matricula4}}">{{Hr4}}</td>
          {{else}}
            {{#if Hr4}}
              <td data-hr="Hr4" class="text-center marcarMedicacao" style="color:red;" data-toggle="tooltip" data-container="body" title="{{i18n 'messages.effectMedication'}}">{{Hr4}}</td>
            {{/if}}
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


{{#section 'script'}}
  <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip()

    $('.marcarMedicacao').click(function(e){
      debugger
      let dataSend = {
        SickBayMedicationControlledID: $(this).closest('table').data('medication-controlled-id'),
        SickBayMedicationScheduleID: $(this).closest('tr').data('sick-bay-medication-schedule-id'),
        Hr: $(this).data('hr')
      }

      $.ajax({
        url: '/medication-controlled/update-medication',
        type: 'POST',
        data: dataSend,
        dataType:'json',
        success: function(data) {
          let form = document.createElement("form")
          form.method = "POST"
          form.action = "/medication-controlled/more-info"
          var campo1 = document.createElement("input")
          campo1.name= 'MedicationControlledID'
          campo1.value= data.SickBayMedicationControlledID
          form.appendChild(campo1)
          document.body.appendChild(form)
          form.submit()
        }
      })

    })
  </script>
{{/section}}
