<div class="panel panel-primary">
  <div class="panel-heading">{{i18n 'new'}} {{i18n 'medicationControlled'}}</div>
  <div class="panel-body">
    <form id="newControlled">
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-8">
          <div class="groupPatient groupStudent">
            <select class="form-control" name="Student_Matricula" id="Student" style="width:100%;" required>
              <option value="">{{{i18n 'student'}}}:</option>
              {{#each SchoolStudent}}
                <option value="{{MATRICULA}}" data-matricula="{{MATRICULA}}" data-nome="{{NOME}}" data-alergia="{{ALERGIA}}" data-class="{{TURMA}}" data-year-group="{{SERIE}}" data-unit="{{FILIAL}}">{{NOME}} - {{MATRICULA}} - {{TURMA}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="col-sm-4 text-right" style="padding-top:4px;">
          <label class="checkbox-inline" style="padding-left: 0px;"><input style="margin-right:5px;" type="radio" name="Type" value="Uso contínuo" required>{{i18n 'contUse'}}</label>
          <label class="checkbox-inline"><input style="margin-right:5px;" type="radio" name="Type" value="Uso temporário">{{i18n 'tempUse'}}</label>
        </div>
      </div>

      <div class="row" style="margin-top:10px;">
        <div class="col-sm-2">
          <label for="dateInitial">{{i18n 'initialDate'}}</label>
          <input type="date" name="Start" id="dateInitial" class="form-control" min="{{momentAtual}}" onkeyup="updateMinToDateField(this);" required>
        </div>
        <div class="col-sm-2">
          <label for="dateFinal">{{i18n 'finalDate'}}</label>
          <input type="date" name="End" id="dateFinal" class="form-control" min="{{momentAtual}}" required>
        </div>
        <div class="col-sm-2">
          <label for="hr1">{{i18n 'schedule'}} 1</label>
          <input type="time" name="Hr1" class="form-control" required>
        </div>
        <div class="col-sm-2">
          <label for="hr2">{{i18n 'schedule'}} 2</label>
          <input type="time" name="Hr2" class="form-control">
        </div>
        <div class="col-sm-2">
          <label for="">{{i18n 'schedule'}} 3</label>
          <input type="time" name="Hr3" class="form-control">
        </div>
        <div class="col-sm-2">
          <label for="">{{i18n 'schedule'}} 4</label>
          <input type="time" name="Hr4" class="form-control">
        </div>
      </div>

      <div class="row" style="margin-top:10px;">
        <div class="col-sm-4">
          <label for="">{{i18n 'doctorName'}}</label>
          <input type="text" name="DoctorName" value="" class="form-control">
        </div>
        <div class="col-sm-4">
          <label for="">{{i18n 'doctorContact'}}</label>
          <input type="text" name="DoctorContact" value="" class="form-control">
        </div>
        <div class="col-sm-4">
          <label for="">{{i18n 'responsibleMedication'}}</label>
          <input type="text" name="Responsible" value="" class="form-control" required>
        </div>
      </div>

      <div class="row" style="margin-top:10px;">
        <div class="col-sm-12">
          <textarea name="Note" class="form-control" placeholder="{{i18n 'medAndObs'}}" required></textarea>
        </div>
      </div>

      <div class="text-right row" style="margin-top:10px;">
        <input type="submit" name="" value="{{i18n 'save'}}" class="btn btn-success">
      </div>
    </form>
  </div>
</div>


{{#section 'script'}}
  <script type="text/javascript">
    $('#Student').select2()

    $('#newControlled').submit(function(e){
      e.preventDefault()

      let dataSend = $(this).serializeArray()

      $.ajax({
        url: '/medication-controlled/new',
        type: 'POST',
        data: dataSend,
        dataType:'json',
        success: function(data) {
          window.location.replace(data.redirect)
        }
      })

    })

    function updateMinToDateField(el){
      $('#dateFinal').attr('min', moment($(el).val()).format('YYYY-MM-DD'))
    }
  </script>
{{/section}}
